/* color variables */
:root {
  --Gradient1: rgb(253, 175, 44);
  --Gradient2: rgb(251, 85, 89);
  --Gradient3: rgb(235, 72, 102);
  --Gradient4: rgb(244, 45, 134);
  --Background-Dark: rgb(16, 15, 15);
  --Background-Light: rgb(0, 0, 0);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  min-width: 330px;
  margin: 0;
  padding: 0;
  background-color: var(--Background-Dark);
  background-image: url(/images/3px-tile.png);
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
}

a {
  all: unset;
  cursor: pointer;
}

.title {
  position: absolute;
  top: 4rem;
  font-size: 1.5rem;
}

.centeredDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: 50%;
  background-color: var(--Background-Light);
  background-image: url(/images/broken-noise.png);
  border-radius: 10px;
}

.centeredDiv::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0.30rem;
  background: linear-gradient(90deg, var(--Gradient1) 0%, var(--Gradient2) 35%, var(--Gradient3) 45%, var(--Gradient4) 100%);
  border-radius: 15px;
  z-index: -1;
  animation-name: opacityAnimationBorder;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.centeredDiv::after {
  content: '';
  position: absolute;
  width: 113%;
  height: 86%;
  background: linear-gradient(90deg, var(--Gradient1) 0%, var(--Gradient4) 100%);
  border-radius: 50px;
  z-index: -2;
  filter: blur(70px);
  opacity: 0.4;
  animation-name: opacityAnimationBlur;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}


.siteTitle {
  margin-bottom: 1rem;
}

.sitePhrase {
  font-size: 0.9rem;
  animation-name: opacityAnimationBorder;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

/* Animation */

@keyframes opacityAnimationBlur {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 0.6;
  }
}

@keyframes opacityAnimationBorder {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

/************************** Media Queries 700 *************************************/
@media (max-width:700px) {

  .title {
    font-size: 1.0rem;
    top: 2rem;
  }

  .centeredDiv {
    height: 70%;
    text-align: center;
  }

  .siteTitle {
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }

  .sitePhrase {
    font-size: 0.7rem;
  }

}